<?xml version="1.0"?>
<config>
    <modules>
        <Acierno_Caros>
            <version>0.1.0</version>
        </Acierno_Caros>
    </modules>
    <global>
        <models>
            <acierno_caros>
                <class>Acierno_Caros_Model</class>
                <resourceModel>acierno_caros_resource</resourceModel>
            </acierno_caros>
            <acierno_caros_resource>
                <class>Acierno_Caros_Model_Resource</class>
                <entities>
                    <slider>
                        <table>slider</table>
                    </slider>
                    <images>
                        <table>images</table>
                    </images>
                </entities>
            </acierno_caros_resource>
        </models>
        <blocks>
            <acierno_caros>
                <class>Acierno_Caros_Block</class>
            </acierno_caros>
        </blocks>
        <helpers>
            <acierno_caros>
                <class>Acierno_Caros_Helper</class>
            </acierno_caros>
        </helpers>
        <resources>
            <acierno_caros_setup>
                <setup>
                    <module>Acierno_Caros</module>
                </setup>
            </acierno_caros_setup>
        </resources>
    </global>
    <frontend>
        <translate>
            <modules>
                <acierno_caros>
                    <files>
                        <default>Acierno_Caros.csv</default>
                    </files>
                </acierno_caros>
            </modules>
        </translate>
        <routers>
            <acierno_caros>
                <use>standard</use>
                <args>
                    <module>Acierno_Caros</module>
                    <frontName>images</frontName>
                </args>
            </acierno_caros>
        </routers>
        <layout>
            <updates>
                <acierno_caros>
                    <file>acierno_caros.xml</file>
                </acierno_caros>
            </updates>
        </layout>
    </frontend>
    <admin> <!-- backend -->
        <routers>
            <acierno_caros>
                <use>admin</use>
                <args>
                    <module>Acierno_Caros</module>
                    <frontName>acierno_caros</frontName>
                </args>
            </acierno_caros>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <acierno_caros>
                    <files>
                        <default>Acierno_Caros.csv</default>
                    </files>
                </acierno_caros>
            </modules>
        </translate>
        <layout>
            <updates>
                <acierno_caros>
                    <file>acierno_caros.xml</file>
                </acierno_caros>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <acierno_caros>
            <configuration>
                <enabled>0</enabled>
                <size>wrapped</size>
                <libraryJQuery>theme</libraryJQuery>
                <chooselibrary>none</chooselibrary>
            </configuration>
        </acierno_caros>
    </default>
    <crontab>
        <jobs>
            <import>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>acierno_caros/observer::setslidertimebased</model>
                </run>
            </import>
        </jobs>
    </crontab>
</config>

